@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --border-primary: 1px solid #868686;
  --border-focus: 1px solid #FFC632;
  --color-button: #473404;
  --hover-color: #ffc53293;
  --bgtest: #ffffff;  
  --border: 0.1px solid var(--text-base);
}
body, main {
  display: flex;
  background-color: var(--background);
  width: 100%;
}
article {
  flex:1;
}
/* Parte Do ícone e text / Todos os Recursos dentro do login foram separados */
.container-aside-ícone {
  color: var(--text-base);
  display: flex;
  align-items: center;
  height: 8%;
}
aside img {
  height: 50%;
  margin-left: 2rem;
  margin-right: .5rem;
}
aside .campin {
  font-family: var(--font-family-poppins);
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
  font-weight: bold;
}
/*Fim da Parte Do ícone e text */ 
/* Trecho container-login */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92%;
}
.container-conteudo-central {
  display: flex;
  width: 75%;
  height: 50%;
  background-color: var(--form-background);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Fim do trecho container-login */
/* Trecho sobre "faça seu login" */
.container-info-login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: .5%;
}
.ícone-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.img-login {
  width: 24px;
  margin: 0;
}
.login-text {
  margin-left: 3%;
  font-family: var(--font-family-poppins);
  font-weight: 600;
  color: var(--primary-color);
  font-size: 24px;
}
.info-cadastro {
  font-family: var(--font-family-roboto);
  font-weight: 500;
  color: var(--text-base);
  font-size: 16px;
  margin-top: 2%;
}
/* Fim do Trecho sobre "faça seu login" */
/* Começo do Trecho "Email" */
.container-email {
  display: flex;
  flex-direction: column;
  width: 300px;  
  margin: 2.5%;
}
.text-email {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  color: var(--text-base);
  font-size: 16px;
}
#email { 
  width: 100%;
  border: none;
  background-color: transparent;
  border: var(--border);
  border-radius: 4px;
  padding: 2%;
  margin-top: 2%;
}
.icone-email {
  width: 24px;
}
/* Fim do Trecho "Email" */
/* Começo do trecho "Senha" */
.container-senha {
  display: flex;
  flex-direction: column;
  width: 300px;  
  margin: 2.5%;
}
.text-senha {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  color: var(--text-base);
  font-size: 16px;
}
#senha {
  width: 100%;
  border: none;
  background-color: transparent;
  border: var(--border);
  border-radius: 4px;
  padding: 2%;
  margin-top: 2%;
}
.icone-cadeado {
  width: 24px;
}
.icone-olho {
  width: 24px;
}
/* Fim do Trecho Senha  */
/* Começo do trecho CheckBox e Esqueci senha */
.container-checkbox-esquecisenha {
  display: flex;
  flex-direction: row;
  width: 300px;  
  margin: 2.5%;
  justify-content: space-between;
  align-items: center;
}
#checkbox {
  border: none;
  background-color: transparent;
  border: var(--border);
  border-radius: 4px;
}
.checkbox {
  font-family: var(--font-family-roboto);
  font-weight: normal;
  color: var(--text-base);
  font-size: 16px;
}
.esqueciminhasenha {
  font-family: var(--font-family-poppins);
  color: var(--primary-color);
}
/* Fim do Trecho CheckBox e Esqueci senha  */
/* Começo do Trecho Button */
.container-button {  
  display: flex;
  flex-direction: row;
  width: 300px;  
  margin: 2.5%;
  justify-content: space-between;
  align-items: center;
}
.button {  
  border: none;
  width: 100%;
  height: 3em;
  border-radius: 4px;
  font-family: var(--font-family-poppins);
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--color-button);
  font-size: 16px;
}
/* Fim do Trecho Button */
/* Começo do trecho "registre-se" */
.container-registrese {
  display: flex;
  width: 300px;
  justify-content: center;
}
.registrese {  
  font-family: var(--font-family-poppins);
  color: var(--primary-color);
}
/* Fim do trecho "registre-se" */
/* Começo do Container layout img  */
.container-layout-img {
  height: 100vh;
}
img {
  height: 100%;
}
/* Fim do container layout img  */

.button:hover {
  background-color: var(--hover-color) ;
}

